@{
    Layout = null;
    ViewBag.Title = "GridCard";
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/Content/gridcard.css" />
</head>


<body>
    <h1>Grid card layout</h1>
    <section class="gridcardsection">
        <div class="class1">1</div>
        <div class="class2">2</div>
        <div class="class3">3</div>
        <div class="class4">4</div>
        <div class="class5">5</div>
        <div class="class6">6</div>
        <div class="class7">7</div>
        <div class="class8">8</div>
        <div class="class9">9</div>
        <div class="class10">10</div>
        <div class="class11">11</div>
        <div class="class12">12</div>
        <div class="class13">13</div>
        <div class="class14">14</div>
        <div class="class15">15</div>
        <div class="class16">16</div>
        <div class="class17">17</div>
        <div class="class18">18</div>
        <div class="class19">19</div>
        <div class="class20">20</div>
    </section>
</body>
</html>