@using MyMvcWeb.Controllers
@model List<Contact>
@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<ul class="hmenu">
    <li><a href="/">Home</a></li>
    <li><a href="/">Home</a></li>
    <li><a href="/">Home</a></li>
</ul>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<h3>Env vars</h3>
<ul class="namelist">
    @foreach (var x in Model) {
        <li class="nameinlist"> @x </li>
}
</ul>