html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.someClass1{
    color: red;
}
.someClass2{
    color: red;
}
.someClass3{
    color: red;
}